<h3 id="body-title">About</h3>
<p>Momma taught me good home training</p>
<p>My Daddy taught me how to love my haters</p>
<p>My sister told me I should speak my mind</p>
<p>My man made me feel so God damn fine, I'm flawless!</p>