<h2 id="title">BeyHive/Ember</h2>

{{link-to 'Home' 'application' class="js-header" id="home"}}
{{link-to 'About' 'about' class="js-header" id="about"}}
{{link-to 'Hits' 'hits' class="js-header" id="hits"}}

{{outlet}}
